{% extends "base_public.html" %}

{% block content %}
    <div>
    <div class="text-center">
        <h4>{{ formatted_date }}</h4>
        {% if themes %}
            {% if themes.0.theme %}
                <p>{{ themes.0.theme }}</p>
            {% endif %}
            {% if themes.0.recommenders %}
                <p>{{ themes.0.recommenders }}</p>
            {% endif %}
            {% if themes.0.author %}
                <p>{{ themes.0.author }}</p>
            {% endif %}
        {% endif %}
    </div>
        {% regroup menuu_items by category_name__category_name as menu_list %}
        <div>
            {% for category in menu_list %}
                <table class="public_table">
                    <thead>
                    <tr>
                        <td class="description">{{ category.grouper }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subline in category.list %}
                        <tr>


                                    <td class="description">{{ subline.description }}</td>
                                    <td class="price_f">{{ subline.price_full }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endfor %}
        </div>
    </div>

{% endblock %}