{% extends "base_admin.html" %}
{% load static %} {# vaja et laeks static kataloogi #}
{% block content %}
    {# vaatel on kategooria lisamine #}
    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-10">
            <h4>Lisa kategooria</h4>

            <form method="post" class="forms_gen" novalidate>
                {% csrf_token %}
                <table>
                    {{ form.as_table }} {# vormindab vaate #}
                    <tr>
                        <td style="padding: 0px; padding-top: 30px">
                            <input type="submit" value="Lisa" class="menuu_nupud">
                        </td>
                    </tr>

                </table>
            </form>
            <p></p>
            <p><a href="{% url "bistrooapp_admin:category" %}" class="menuu_nupud">Tagasi</a></p>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    const LOGOUT_URL = '{% url 'bistrooapp_admin:logout' %}'; // loob viite url jaoks, vt js/logout.js
</script>
<script src="{% static "js/logout.js" %}"></script>
{% endblock %}