{% extends "base_admin.html" %}
{% load static %} {# vaja et laeks static kataloogi #}
{% block content %}
    {# Vaatel saab muuta kategooriat #}
    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-10">
            <h3>Muuda {{ category.category_name | lower }}</h3>
            <form method="post" class="forms_gen" novalidate>
                {% csrf_token %}
                <table>
                    {{ form.as_table }} {# vormindab vaate #}
                    <tr>
                        <td style="padding: 30px 0px 0px;">
                            <input type="submit" value="Muuda" class="menuu_nupud"> {# sisestus nupp #}
                        </td>
                    </tr>

                </table>
            </form>
            <p></p>
            <p><a href="{% url "bistrooapp_admin:category" %}" class="menuu_nupud">Tagasi</a></p>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    const LOGOUT_URL = '{% url 'bistrooapp_admin:logout' %}'; // loob viite url jaoks, vt js/logout.js
</script>
<script src="{% static "js/logout.js" %}"></script>
{% endblock %}