{% extends "base_admin.html" %}

{# https://dev.to/anuragrana/for-loops-in-django-2jdi kuidas if kasutada #}
{% block content %}

    {% load my_template_tag %} {# laeb custom tag vt fail my_template_tag.py #}
    {# vt fail opetus.txt #}
    {% load static %} {# vaja et laeks ikooni static kataloogist #}



    {# <div class="mt-2">        <h4>Menüü koostamine</h4>    </div> #}

    {# loob vasakusse äärde valikute osa #}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-2">
                <table class="table table-bordered menuu-table">
                   <!-- <thead>
                        <tr>
                            <td class="head_text">Menüü kuupäev</td>
                        </tr>
                    </thead>-->
                    <tbody>
                        <tr>
                            <td>
                                {# loob kuupäeva vormi #}
                                <form action="" method="post" id="kuupaevaForm">
                                        {% csrf_token %}
                                        {{ datePicker.as_p }} {# vt view def menuu_list, sealt tuleb #}
                                        {# input type="date" name="valitud_kp" required id="id_valitud_kp" #}
                                </form>


                                <a href="{% url "bistrooapp_admin:move_back" %}" class="gg-chevron-double-left-r"></a>
                                <a href="{% url "bistrooapp_admin:today" %}" class="tana">Täna</a>
                                <a href="{% url "bistrooapp_admin:move_forward" %}" class="gg-chevron-double-right-r"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p></p>

                {# Joonistab pealkirjade lingid vasakusse äärde #}
                <table class="table table-bordered menuu-table">
                    <!--<thead>
                    <tr>
                        <td class="head_text">Pealkirjad</td>
                    </tr>
                    </thead>-->
                    <tbody>
                        <tr>
                        <td>
                                <a href="{% url 'bistrooapp_admin:add_theme' %}" class="menuu_nupud">Pealkirjad</a>
                                {# link pealkirjade sisestamiseks  #}
                        </td>
                        </tr>
                    </tbody>
                </table>

                {# Joonistab töölingid vasakusse äärde #}
                <table class="table table-bordered menuu-table">
                    <!--<thead>
                    <tr>
                        <td class="head_text">Kategooriad</td>
                    </tr>
                    </thead>-->
                    <tbody>

                    {% for category in categories %}
                        <tr>
                        <td>
                            <a href="{% url 'bistrooapp_admin:add_subline' category=category.category_name %}" class="menuu_nupud">{{ category.category_name }} </a>
                            {# link annab kaasa toidu kategooria, et seda ei peaks uuesti valima, toidu kategooriaks saab see kategooria  #}
                        </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


            {# joonistab paremasse osasse menüü tabeli #}
            <div class="col-md-9">

            <div id="success-message"> {# Näitab teadet 3 sekundit vt js all #}
            {% if messages %} {# kui teade on olemas siis näitab, vt CategoryDeleteView #}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>


                {% if menuu_items or themes %} {# kui valitud kuupäeval on menüü DB's siis näita menüüd, else teade "Menüü puudub" #}
                    <div style="text-align: center">
                    <h4>{{ formatted_date }} Menüü</h4>
                    </div>

                    {# joonistab pealkirjad #}
                    <div style="text-align: center">
                    <table class="table table-bordered">

                        <tr>
                        {% if themes.0.theme %}
                            <td class="menuu_read">
                                {{ themes.0.theme }} {# võib kasutada | upper, et vormindada suured tähed  #}
                            </td>
                            <td rowspan="2" style="width: 200px" class="menuu_read">
                                <a href="{% url "bistrooapp_admin:update_theme" theme_id=theme_id %}" title="Muuda">
                                    <img src="{% static "icons/pencil-edit-office-svgrepo-com.svg" %}" alt="Muuda" class="muuda-icon">
                                </a>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url "bistrooapp_admin:delete_theme" theme_id=theme_id %}" title="Kustuta">
                                    <img src="{% static "icons/delete-svgrepo-com.svg" %}" alt="Kustuta" class="muuda-icon">
                                </a>
                            </td>
                        {% else %}
                            <td class="menuu_read">
                            Teemapäev puudub
                            </td>
                            <td style="width: 200px" class="menuu_read"></td>
                        {% endif %}
                        </tr>

                        <tr>
                        {% if themes.0.recommenders %}
                            <td class="menuu_read">
                                {{ themes.0.recommenders }} {# võib kasutada | upper, et vormindada suured tähed  #}
                            </td>


                        {% else %}
                            <td class="menuu_read">
                            Soovitajad puuduvad
                            </td>
                            <td style="width: 200px" class="menuu_read"></td>
                        {% endif %}
                        </tr>

                        <tr>
                        {% if themes.0.author %}
                            <td class="menuu_read">
                                {{ themes.0.author }} {# võib kasutada | upper, et vormindada suured tähed  #}
                            </td>
                            <td class="menuu_read">
                                <a href="{% url "bistrooapp_admin:update_theme" theme_id=theme_id %}" title="Muuda">
                                    <img src="{% static "icons/pencil-edit-office-svgrepo-com.svg" %}" alt="Muuda" class="muuda-icon">
                                </a>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url "bistrooapp_admin:delete_author" theme_id=theme_id %}" title="Kustuta">
                                    <img src="{% static "icons/delete-svgrepo-com.svg" %}" alt="Kustuta" class="muuda-icon">
                                </a>
                            </td>
                        {% else %}
                            <td class="menuu_read">
                            Autorid puuduvad
                            </td>
                            <td class="menuu_read"></td>
                        {% endif %}
                        </tr>
                    </table>

                    </div>
                    {# joonistab menüü #}
                    <table class="table table-bordered">
                        {# abimuutuja isBreak on tehtud if lausetes kasutamiseks #}
                        {% setval "False" as isBreak %}
                        {% for category in categories %} {# loendab kategooriaid #}

                            {% for menuu_item in menuu_items %} {# loendab menüü kirjeid #}
                                {# kui true, siis loop ei tee, kui false siis teeb loop #}
                                {% if isBreak == "True" %}
                                    {# Do nothing -  kui true siis loop ei tee #}
                                {% else %}
                                    {# kui false siis loop kirjutab kategooria alamread ehk toidud selles kategoorias #}
                                    {% if category.category_name == menuu_item.category_name.category_name %}
                                        <thead>
                                        <tr>
                                            <td class="head_text">{{ category.category_name }}</td>
                                            <td class="head_text">Hind</td>
                                            <td class="head_text">Toiming</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for menuu_item in menuu_items %}
                                            {% if menuu_item.category_name.category_name == category.category_name %}

                                                <tr>
                                                    {# toidu nimetus #}
                                                    <td class="menuu_read">{{ menuu_item.description }}</td>

                                                    {# hinna töötlus #}
                                                    {% if menuu_item.price_full and menuu_item.price_half == None %}
                                                        <td style="width: 200px" class="menuu_read">{{ menuu_item.price_full }}</td> {# näita ainult täishind #}
                                                    {% elif menuu_item.price_full == 0 and menuu_item.price_half == 0 or menuu_item.price_full == 0 and menuu_item.price_half == None %}
                                                        <td style="width: 200px" class="menuu_read">Prae hinnas</td>
                                                        {# kui mõlemad hinnad 0 siis on prae hinnas #}
                                                    {% else %}
                                                        {# näitab mõlemat hinda#}
                                                        <td style="width: 200px" class="menuu_read">{{ menuu_item.price_full }}
                                                            / {{ menuu_item.price_half }}</td>
                                                    {% endif %}
                                                    {# linkide töötlus #}
                                                    <td style="width: 200px" class="menuu_read">
                                                            <a href="{% url "bistrooapp_admin:update_subline" line_id=menuu_item.id %}" title="Muuda">
                                                                <img src="{% static "icons/pencil-edit-office-svgrepo-com.svg" %}" alt="Muuda" class="muuda-icon">
                                                            </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <a href="{% url "bistrooapp_admin:delete_subline" line_id=menuu_item.id %}" title="Kustuta">
                                                                <img src="{% static "icons/delete-svgrepo-com.svg" %}" alt="Kustuta" class="muuda-icon">
                                                            </a>
                                                    </td>
                                                </tr>

                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        {% setval "True" as isBreak %}
                                        {# kategooria kirjutas ära, et ei kordaks siis on Break #}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% setval "False" as isBreak %}
                            {# järgmise kategooriaga on Break false ja kirjutab toidud kui on #}
                        {% endfor %}
                    </table>
                {% else %}
                    <div style="text-align: center">
                        <h4 class="head_text">{{ formatted_date }} Menüü puudub</h4>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{# script teeb submit, kui kuupäev valitakse #}
    <script>
        $(document).ready(function () {
            // Get the date picker input element
            var datePicker = $('#id_valitud_kp');

            // Check if a date is stored in localStorage
            //var storedDate = sessionStorage.getItem('pickedDate');

            // Kui sessionStorage on kuupäev olemas siis sea datePicer sellele kuupäevale
           // if (storedDate) {
             //   datePicker.val(storedDate);
            //} else { // kui valitud kp ei ole siis kirjutab sessStorage vaikimisi tänase kuupäeva, see tuleb forms.py
              //  sessionStorage.setItem('pickedDate', datePicker.val())
            //}

            // Attach an event listener to the date picker input
            datePicker.change(function () {
                // Get the selected date
                //var pickedDate = datePicker.val();

                // Store the picked date in localStorage
                //sessionStorage.setItem('pickedDate', pickedDate);

                var form = $('#kuupaevaForm'); // võtab formi
                form.submit() // teeb submit kui kuupäev muudetakse


            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            // Display the message
            var messageElement = document.getElementById("success-message");
            messageElement.style.display = "block";

            // Set a timeout to hide the message after 10 seconds (10000 milliseconds)
            setTimeout(function () {messageElement.style.display = "none";}, 2000); // 10000 milliseconds = 10 seconds
            });
    </script>

{% endblock %}

