{% extends "base_admin.html" %}

{% block content %}
    <h2>Lisa menüü pealkirjad</h2>

    <form method="POST" action="{% url 'bistrooapp_admin:save_theme' %}">
        {% csrf_token %}
        <label for="menu_date">Kuupäev:</label>
        <input type="date" name="menu_date" id="menu_date" value="{{ valitud_kpius }}" required>
        <br>
        <label for="theme">Teemapäev:</label>
        <input type="text" name="theme" id="theme">
        <br>
        <label for="recommenders">Soovitavad:</label>
        <input type="text" name="recommenders" id="recommenders">
        <br>
        <label for="author">Toidu valmistasid:</label>
        <input type="text" name="author" id="author">
        <br>
        <input type="submit" value="Add">
    </form>
    <p></p>
    <p><a href="{% url "bistrooapp_admin:menuu_list" %}">Menüü koostamine</a></p>

{% endblock %}
