/*https://masteringdjango.com/django-tutorials/mastering-django-forms/  vormindab */

:root {
    --menuu_alapealkirjad: #FFBF00;
    --menuu_tabeli_aarised: white;
    --menuu_lahtrite_sisu: white; /* #0a53be Define a variable */

    --menuu_lingi_tekst: #FFBF00;
    --menuu_nupu_aaris: #3B7A57;

    --hover_nupu_taust: #0f5132;

    --nav_bar_linkide_tekst: #FFBF00;
    --nav_bar_riba_taust: #0f5132;

    --tabeli_alapealkirjad: #D0F7DA;
    color: #0a3622;

    --font-size: 16px; /* Define another variable */
}


tr.head_text {
    background-color: #D0F7DA; /* Use the desired shade of gray */
    font-weight: bold;
    font-size: large;
}

td.head_text {
    /* kujundab tabeli pealkirju Supid, Praed jne */
    background-color: var(--tabeli_alapealkirjad); /* Use the desired shade of gray */
    font-weight: bold;
    font-size: medium;
    /*color: var(--menuu_alapealkirjad);*/
}

.oma-navbar {
    background-color: var(--nav_bar_riba_taust); /* Replace with your desired color */
    /*color: #0f5132;*/
}

.oma-link-color .nav-link {
    /*nav bar linkide tekst*/
    color: var(--nav_bar_linkide_tekst); /* Replace with your desired link color */
    font-size: large;
    font-weight: bold;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

/*https://css.gg/chevron-double-right-r  joonistab nooled */

.gg-chevron-double-left-r {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    border: 3px solid var(--menuu_nupu_aaris);
    border-radius: 5px;
    width: 35px;
    height: 32px;
    vertical-align: middle;
    color: var(--menuu_lingi_tekst);
}
.gg-chevron-double-left-r::after,
.gg-chevron-double-left-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(45deg);
    top: 11px;
    left: 9px
}
.gg-chevron-double-left-r::after {
    left: 17px
}
.nav-linkkk {
    display: inline-block;
    margin-right: 3px; /* Adjust spacing between links */
    margin-left: 3px;
    text-decoration: none;
    /*color: black; /* Set link color */
}

.tana {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs, 1));
    border: 3px solid var(--menuu_nupu_aaris);
    border-radius: 5px;
    width: 60px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding: 3px;
    line-height: 19px; /* Centers text vertically */
    text-decoration: none; /* Remove default underline */
    color: var(--menuu_lingi_tekst); /* Set link color */
    margin-right: 3px; /* Adjust spacing between links */
    margin-left: 3px;
}
.gg-chevron-double-right-r {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    border: 3px solid var(--menuu_nupu_aaris);
    border-radius: 5px;
    width: 35px;
    height: 32px;
    vertical-align: middle;
    color: var(--menuu_lingi_tekst);
}
.gg-chevron-double-right-r::after,
.gg-chevron-double-right-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-right: 3px solid;
    border-top: 3px solid;
    transform: rotate(45deg);
    top: 11px;
    right: 9px;
}
.gg-chevron-double-right-r::after {
    right: 17px
}
.datepicker-form {
    /*box-sizing: border-box;*/
    position: relative;
    /*display: block;*/
    transform: scale(var(--ggs, 1));
    border: 3px solid var(--menuu_nupu_aaris);
    border-radius: 5px;
    width: 145px;
    height: 20px;
    font-weight: bold;
    font-size: medium;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*line-height: 19px; /* Centers text vertically */
    /*text-decoration: none; /* Remove default underline */
    color: var(--menuu_lingi_tekst); /* Set link color */
    padding: 15px; /* Add padding to form */
}
.toidud {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs, 1));
    border: 3px solid;
    border-color: var(--menuu_nupu_aaris);
    border-radius: 5px;
    /*width: 145px;*/
    width: 145px;
    min-height: 32px;
    max-height: 200px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding: 3px;
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Show an ellipsis if the text overflows */
    line-height: 19px; /* Centers text vertically */
    text-decoration: none; /* Remove default underline */
    color: var(--menuu_lingi_tekst); /*  Set link color */
    margin-right: 3px; /* Adjust spacing between links */
    margin-left: 3px;
}
.toidud:hover{
    background-color: var(--hover_nupu_taust);
}
.tana:hover{
    background-color: var(--hover_nupu_taust);
}
.gg-chevron-double-left-r:hover{
    background-color: var(--hover_nupu_taust);
}
*.gg-chevron-double-right-r:hover{
    background-color: var(--hover_nupu_taust);
}
.datepicker-form:hover{
    background-color: var(--hover_nupu_taust);
}
.menuu-table {
    border: 2px var(--menuu_tabeli_aarised); /* Specify border width and style */
    border-collapse: collapse; /* Collapse borders to avoid double borders */
}
.menuu-table td {
    padding: 4px; /* Adjust the padding within table cells */
    text-align: center;
    background-color: var(--menuu_lahtrite_sisu);
}
.muuda-icon {
    width: 22px;
    height: 22px;
}
.muuda-icon:hover{
    background-color: var(--tabeli_alapealkirjad);
}
